* {
  font-family: Helvetica, sans-serif;
  font-size: 13px; }

/*
------
MIXINS
------
*/
/*
----------
 UTILITIES
----------
*/
.roboto-light {
  font-family: 'Roboto', Arial, serif;
  font-weight: 400; }

.uppercase {
  text-transform: uppercase; }

.full-width {
  width: 100% !important; }

.border-top {
  border-top: 1px solid #DDD;
  padding-top: 5px; }

.border-bottom {
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD; }

.border-left {
  border-left: 1px solid #DDD;
  padding-left: 5px; }

.border-right {
  border-right: 1px solid #DDD;
  padding-right: 5px; }

.border-top {
  border-top: 1px solid #DDD;
  padding-top: 5px; }

.linkedin-back {
  background: #0077B5 !important; }

.google-back {
  background: #DC4E41 !important; }

.fb-back {
  background: #3b5998 !important; }

.smaller {
  font-size: 0.8em; }

.bigger-1-5 {
  font-size: 1.5em; }

.bigger-2 {
  font-size: 2em; }

.bigger-4 {
  font-size: 4em; }

.margin-5 {
  margin: 5px !important; }

.padding-20 {
  padding: 20px !important; }

.bold {
  font-weight: bold; }

.text-black {
  color: #000000 !important; }

.text-white {
  color: #FFFFFF !important; }

.text-grey {
  color: #999 !important; }

.text-green {
  color: #26A65B !important; }

.text-blue {
  color: #3498DB !important; }

.text-red {
  color: #D91E18 !important; }

.pointer {
  cursor: pointer; }

.blue-border {
  border: 2px solid #3498DB; }

.circle {
  border-radius: 50%; }

.green-back {
  background: #26A65B !important; }

.red-back {
  background: #D91E18 !important; }

.grey-back {
  background: #999 !important;
  color: #000000 !important; }

.dark-grey-back {
  background: #222 !important;
  color: #FFFFFF !important; }

.light-grey-back {
  background: #F0F0F0 !important;
  color: #000000; }

/*
--------
 GENERAL
---------
*/
body {
  background: #FFF; }

#navbar-main {
  background: #222 !important;
  border: 0;
  border-radius: 0; }

a {
  cursor: pointer;
  outline: none; }
  a:hover {
    text-decoration: none; }

.error-message {
  color: #D91E18; }

.navbar-collapse {
  background: transparent; }

.box, .box-section, .box-grid {
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block; }

.box-section {
  background: #FFF; }

.box-grid {
  background: #FFF;
  border: 1px solid #D9D8D8;
  border-radius: 2px;
  padding: 10px 0px;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  .box-grid:nth-child(1) {
    margin: 0px 0 10px 0; }
  .box-grid:hover {
    border: 1px solid #AAAAAA;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }

.sidebar {
  background: #F5F5F5;
  border: 1px solid #D9D8D8;
  padding: 10px 10px; }

.btn, .big-btn {
  background: #22A7F0;
  color: #FFFFFF;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn:hover, .big-btn:hover {
    background: #3498DB;
    color: #FFFFFF; }
  .btn:active, .big-btn:active {
    color: #FFFFFF; }
  .btn:focus, .big-btn:focus {
    color: #FFFFFF; }

.big-btn {
  padding: 10px 20px;
  margin: 10px; }

.btn-margin {
  margin: 5px; }

.heading {
  color: #FFFFFF;
  margin-top: -20px;
  margin-bottom: 20px;
  max-width: 100%;
  padding: 0px 0px;
  margin-left: 0px;
  height: auto;
  overflow: hidden;
  background: url("../images/public_speaking.jpg");
  min-height: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 2350%;
  position: relative; }

.form-control {
  outline: none;
  border: 1px solid #DDD !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 0px 10px !important;
  margin: 5px 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  .form-control:focus {
    border-color: #3498DB !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }

form label {
  width: 100%; }
  form label span {
    font-weight: bold; }

/*
----------------
    NAVBAR
---------------
*/
.navbar-brand {
  margin: 0px;
  padding: 3px; }

.navbar-nav li a {
  color: #FFFFFF !important;
  font-size: 1.1em; }

/*
----------------
LOGIN / REGISTER
----------------
*/
.popup-overlay {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  background: #000000;
  width: 100%;
  height: 1000px;
  opacity: 0.3;
  display: none; }

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 15%;
  left: 15%;
  width: 70%;
  height: auto !important;
  overflow-y: auto !important;
  background: #FFFFFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .popup .popup-logo {
    margin: 20px auto 10px 0;
    width: 50%; }
  .popup .row {
    margin: 10px 0; }
  .popup .popup-close {
    position: absolute;
    color: #FFFFFF;
    padding: 10px;
    z-index: 999;
    top: 0;
    right: 0; }
    .popup .popup-close .lnr-cross {
      font-size: 2em;
      opacity: 0.7 !important; }

.sign-in-popup {
  height: 70% !important;
  overflow: hidden !important; }

@media screen and (max-width: 1200px) {
  .popup-close {
    color: #000000 !important; }
  .popup {
    top: 13%;
    height: 75%; } }

@media screen and (max-width: 640px) {
  .popup {
    width: 93%;
    left: 7%;
    overflow-y: scroll; } }

.sign-form-col {
  text-align: center; }

.sign-in-col {
  background: url("../images/public_speaking_large.jpg");
  background-size: cover;
  background-position: 70% 0;
  min-height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0;
  position: relative; }
  .sign-in-col > .row {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    width: 100%;
    color: #FFFFFF !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    text-align: center; }
    .sign-in-col > .row .see-more {
      color: #FFFFFF !important;
      text-decoration: underline; }

.sign-in-social .btn {
  margin: 3px 0 !important; }

.sign-in-social .col {
  margin: 0 0px !important;
  padding: 0 3px !important; }

/*
-------------
USER PROFILE
-------------
*/
.user-name {
  font-size: 1.3em !important; }

.user-score {
  background: #EB9532;
  padding: 2px 5px;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.user-list-info .row {
  margin-bottom: 3px; }

.user-side-info {
  border-left: 1px solid #D9D8D8;
  right: 0; }
  .user-side-info .row {
    margin-bottom: 8px; }

.profile-picture {
  border: 1px solid #D9D8D8;
  padding: 5px; }
  .profile-picture .btn {
    margin-top: 5px !important; }

.tag {
  display: inline-block;
  border: 1px solid #AAAAAA;
  padding: 3px 8px;
  margin: 3px 0;
  font-size: 0.8em;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #999 !important; }
  .tag:hover {
    border: 1px solid #3498DB;
    color: #3498DB !important; }

/*
* Request Trainer
*/
.industry-list .btn {
  margin: 3px 1px; }

.check-btn {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold; }

/*
* Profile Page
*/
.box-profile {
  border-radius: 2px;
  padding: 10px 0px;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  .box-profile:nth-child(1) {
    margin: 0px 0 10px 0; }
  .box-profile .user-name {
    font-size: 2em !important; }
  .box-profile .profile-picture {
    width: 80%;
    margin: 0 auto; }

.profile-tab-list {
  padding: 0;
  border-bottom: 6px solid #3498DB;
  height: auto;
  overflow: hidden; }
  .profile-tab-list li {
    font-size: 1em;
    color: #222;
    background: #DDD;
    cursor: pointer;
    list-style: none;
    float: left;
    padding: 10px 20px;
    margin: 0px 3px; }
  .profile-tab-list li:nth-child(1) {
    margin-left: 0px; }
  .profile-tab-list .active {
    border-bottom: 0;
    background: #3498DB;
    color: #FFFFFF;
    font-weight: bold; }

.experience-grid {
  padding: 30px 10px;
  border-bottom: 1px solid #DDD; }
  .experience-grid .title {
    font-size: 1.5em; }
  .experience-grid .description {
    color: #888; }
  .experience-grid .image-holder {
    position: relative;
    height: 120px; }
    .experience-grid .image-holder img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.video-grid img {
  opacity: 0.6; }

.video-grid:hover > img {
  opacity: 0.9; }

.client-grid img {
  padding: 0 20px; }

.table {
  border: 1px solid #DDD; }
  .table th, .table td {
    border: 1px solid #DDD; }
  .table th {
    text-align: center;
    background: #3498DB;
    border: 1px solid #FFFFFF;
    color: #FFFFFF; }
  .table tr:nth-child(odd) {
    background: #f5f5f5; }
  .table tr:hover {
    background: #f0f0f0; }

.datatable-section .dataTables_filter {
  float: left; }

.datatable-section input {
  width: 200% !important; }
